body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("bachground.webp");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: gold;
    font-size: 500%;
}

#message-el {
    font-style: italic;
    font-size: 200%;
}

p{
    font-size: 200%;
}

button {
    color: green;
    padding: 10px 20px;
    background: gold;
    font-weight: bolder;
    font-size: 150%;
    text-wrap: nowrap;
    border: none;
    margin-left: 20px;
    border-radius: 2px;
    margin-bottom: 1%;
    margin-top: 1%;
}

@media (min-width: 2500px) {
    p{
        font-size: 400%;
    }
    #message-el {
        font-size: 400%;
    }
    h1{
        font-size: 1000%;
    }
    button{
        font-size: 300%;
        padding: 20px 40px;
    }
}